body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   color: #2C2C2C;
   max-width: 1280px;
   margin: 0 auto;
}

/* NAV LOGO*/
.logo-top, .logo-top-color {
   font-size: 80px;
   line-height: 94px;
}

.logo-top {
   color: #4BCAFF;
}
.logo-top-color {
   color: #000000;
}

/* NAV LIST*/
.header-menu-list {
   display: flex;
   flex-grow: 1;
   background: #35444F;
   justify-content: center;
   margin: 40px 0 0 0 ;
   padding: 26px 33px 19px 33px;
}

.header-menu-list > li > a {
   font-size: 24px;
   line-height: 28px;
   text-transform: capitalize;
   color: white;
   padding: 26px 33px 19px 33px;
   border-left: 1px solid white;
}

.header-menu a:last-child {
   border-right: 1px solid white;
}

.header-menu-list > li > a:hover {
   background-color: #222F3A;
}

/* MAIN LEFT NAV SECTION */

.aside-menu {
   /*display: flex;
   flex-direction: column;*/
   width: 344px;
   margin: 49px 0 0 0;
   border: 1px solid #000000;
}

.aside-menu-item {
   padding: 26px 0 26px 44px;
}

.aside-menu-list > li > a {
   font-size: 27px;
   line-height: 27px;
   text-transform: capitalize;
   color: #485863;  
}

.aside-menu-item:hover {
   background-color: #DBDBDB;
   cursor: default;
   padding-left: 75px;
 }

.aside-menu-item:hover 
.aside-menu-link {
   color: #000000;
}

/* MAIN SECTION */
.content {
   display: flex;
   justify-content: flex-end;
}

.main-content {
   margin-top: 49px;
   margin-left: 52px;
}

.img-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 885px;
   height: 529px;
   border: 1px solid#000000;
   margin-bottom: 37px;
}

.image-main {
   transition: 1s;
}
.image-main:hover {
   transform: scale(1.2);
}
.main-content-introduction {
   padding-bottom: 34px;
}

/* FOOTER SECTION */
.footer-container {
   display: flex;
   justify-content:  space-between;
   background: rgba(99, 105, 110, 0.48);
   padding-left: 40px;
   padding-top: 20px;
   padding-bottom: 21px;
   margin-top: 20px;
   margin-bottom: 30px;
}

.footer-menu-list {
   display: flex;
}

.footer-menu-item {
   margin-right: 30px;
}

.footer-menu-list > li > a {
   font-size: 28px;
   line-height: 28px;
   text-transform: capitalize;
   color: #0C1927;
   display: block;
}

.footer-menu-list > li > a:hover {
   color: #3181A6;
   text-decoration: underline solid #3181A6 1px;
   text-underline-offset: 13px;
}

.info-footer-menu{
   font-size: 24px;
   line-height: 24px;
   color: #010101;
   padding-right: 50px;
}